.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.contact-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  padding: 40px;
}

.contact-card h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(51, 83, 159);
}

.contact-card p {
  margin-bottom: 10px;
}

.contact-card p strong {
  font-weight: bold;
}

.contact-card .contact-info {
  margin-bottom: 20px;
}

.contact-card .contact-info a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: rgb(51, 83, 159);
}

.contact-card .contact-info a:hover {
  text-decoration: underline;
}

.contact-card .social-media-links {
  display: flex;
  justify-content: center;
}

.contact-card .social-media-links a {
  margin: 0 5px;
  text-decoration: none;
  color: rgb(51, 83, 159);
  font-size: 24px;
}

.contact-card .social-media-links a:hover {
  color: rgb(33, 56, 115);
}
